
h2{
  color: #766C7F;
  text-align: center;
}
body {
  background-color: yellow;
}
h3 {
  text-decoration: underline;
}
h1 {
  text-decoration: overline;
}
h1 {
  letter-spacing: 10px;
}
h1 {
  text-shadow: 6px 8px 4px red;
}
img {
  width: 85%
}
img {
  border-radius: 50%;
}
img:hover {
 width: 40%;
 border: black 90px; 
}
